.addTodoSection {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  .inputConatiner {
    position: relative;
  }

  .inputField {
    padding: 5px;
  }
  .todoLabel {
    position: absolute;
    transition: 300ms ease-in;
    color: green;
    font-size: 12px;
    top: 25%;
    left: 44%;
  }
  .inputField:focus + label {
    color: green;
    font-size: 12px;
    top: -12px;
    left: 43.5%;
  }
}
